body {
    margin: 0;
    padding: 0;
}
.text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.grid {
    margin-top: 60px;
}
.predict {
    background-color: #DEF4E5;
    padding: 12px;
}
.page-header {
    background-color: #f5f7fa;
    border-bottom: 1px solid #152935;
}
.container {
    margin-top: 64px;
}
.center {
    margin: auto;
}